@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:ital,wght@0,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    left: 35%;
    background-color: blue;
    height: 220px;
    width: 800px;
    display: block;
}

h1{
    line-height: 70px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 4em;
}

p{
    margin-left: 9px;
    font-family: "Noto serif";
    display: block;
}