@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:ital,wght@0,700;1,800&display=swap');

*{
    padding: 0;
}

body{
    background-image: linear-gradient(50deg, #000000,#333231,#302d2a,#3f3b37);
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.header{
    background-color: rgb(15, 125, 125);
    height: 6vh;
    width: 1690px;
    position: fixed;
    top: calc(50% - 420px);
    left: calc(100% - 1700px);
}

.header h2{
    color: white;
    
    font-family: 'poppins';
}

.header button{
    color: rgba(255, 255, 255, 0.773);
    background-color: rgba(0, 0, 0, 0.092);
    border: none;
    border-radius: 5px;
    font-family: 'Noto Serif';
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin-left: 15px;
    display: inline;
}

.header a{
    color: white;
    margin-bottom: 100px;
    position: fixed;
    bottom: calc(50% - 6600px);
}

/*.quadrado{
    background-color: #0000002c;
    height: 90%;
    width: 90%;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 765px);
}*/

.conteudo{
    height: 70px;
    width: 700px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 700px);
}

.social{
    width: 340px;
    position: fixed;
    top: calc(100% - 50px);
    left: calc(50% - 700px);
}

.social i{
    color: #A6A6A6;
    font-size: 25px;  
    margin-left: 15px;
}

h1{
    color: white;
    line-height: 70px;
    font-family: 'Poppins';
    font-size: 4em;
    margin-bottom: 5px;
}

p{
    margin-top: 0px;
    color: #f0f8ff88;
    font-size: 1rem;
    font-family: 'Noto serif';
}
